@import "../../assets/css/base.scss";

.sb-main-ui{
	width:100%;
	height:100%;
	@include pos(a);
	left:0;
	top:0;
	.sb-ico{
		width:2rem;
		@include pos(a);
		&.hide{
			@include transition(.5s);
			opacity:0;
		}
	}
	.sb-hp{
		
		left:3.4rem;
		top:.5rem;
	}
	.sb-tp{
		
		left:8rem;
		top:5rem;
	}
	.sb-vr{
		
		left:2rem;
		top:5rem;
	}
	.sb-yp{
		top:8.5rem;
		left:3.5rem;
	}
	.sb-sp{
		
		top:12.5rem;
		left: 6rem;
	}
	.sb-wz{
		left:8rem;
		top:10rem;
	}
}